.project_me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.control_project{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.control_project h1 {
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-shadow: 0 0 10px rgb(167, 120, 214);
}

.template_p {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.template_p:hover {
    transform: scale(1.05);
}
.thumbnail_p{
    width: 100%;
    height: 250px;
}
.thumbnail_p img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.template_p h2 {
    height: 50px;
    margin: 10px 0;
    font-size: 20px;
}

.template_p a {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
}

.template_p a:hover {
    text-decoration: underline;
}
